<!DOCTYPE html>
<html lang="en">
<head>
     {{>links}}
</head>
<body>
  {{>navbar}} 
  <div class="page-banner overlay-dark bg-image" style="background-image: url(../assets/img/bg_image_1.webp);">
    <div class="banner-section">
      <div class="container text-center wow fadeInUp">
       
        <h1 class="font-weight-normal text-responsive">Contact Us</h1>
      </div> <!-- .container -->
    </div> <!-- .banner-section -->
  </div> <!-- .page-banner -->
    {{#if status}}
    <div class="alert alert-primary display-4 text-center mb-0 wow fadeInLeft" role="alert">
 {{ statusOfAppointment}}
</div>
{{/if}}
  <div class="page-section pt-3 " style="background-color: #D5FFFF;">
    <div class="container">
      <h1 class="text-center display-5  " >Get in Touch</h1>


      <form class="contact-form mt-5 " onsubmit="return validateContact()" action="/contact" method="POST">
        <div class="row mb-3">
          <div class="col-sm-6 py-2 wow fadeInLeft">
            <label for="fullName">Name</label>
            <input type="text" id="fullName" class="form-control" placeholder="Full name.." name="name" required>
          </div>
          <div class="col-sm-6 py-2 wow fadeInRight">
            <label for="emailAddress">Email</label>
            <input type="text" id="emailAddress" class="form-control" placeholder="Email address.." name="email" required>
          </div>
          <div class="col-12 py-2 wow fadeInUp">
            <label for="Phone">Phone</label>
            <input type="text" id="phone" class="form-control" placeholder="Enter Phone-Number." name="Phone_number" required>
          </div>
          <div class="col-12 py-2 wow fadeInUp">
            <label for="message">Message</label>
            <textarea id="message" class="form-control" rows="8" placeholder="Enter Message.."name="message"></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-primary wow zoomIn"  onsubmit="validateContact()">Send Message</button>
      </form>
    </div>
  </div>

 {{>footer}}
 
</body>
</html>
