<!DOCTYPE html>
<html lang="en">
<head>
{{>links}}
</head>
<body>
{{>navbar}}
  <div class="page-banner overlay-dark bg-image" style="background-image: url(../assets/img/bg_image_1.jpg);">
    <div class="banner-section">
      <div class="container text-center wow fadeInUp">
       
        <h1 class="font-weight-normal display-1">Our Doctors</h1>
      </div> <!-- .container -->
    </div> <!-- .banner-section -->
  </div> <!-- .page-banner -->

  <div class="page-section bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">

          <div class="row">
            
           
              <div class="col-md-6 col-lg-4 py-3 wow zoomIn">
               <div class="card-doctor">              
                <div class="header">                 
                 <img src="../assets/img/doctors/indianDoc1.jpg" alt="">
                  </div>
                <div class="body">
                  <p class="text-xl mb-0">Dr. Anandi Joshi</p>
                  <span class="text-sm text-grey">Cardiology</span>
                </div></a>
              </div>
            </div> 
    
            <div class="col-md-6 col-lg-4 py-3 wow zoomIn">
              <div class="card-doctor">
                <div class="header">
                  <img src="../assets/img/doctors/indianDoc2.jpg" alt="">
                 </div>
                <div class="body">
                  <p class="text-xl mb-0">Dr. Karthik</p>
                  <span class="text-sm text-grey">Dental</span>
                </div>
              </div>
            </div>
    
            <div class="col-md-6 col-lg-4 py-3 wow zoomIn">
              <div class="card-doctor">
                <div class="header">
                  <img src="../assets/img/doctors/indianDoc3.jpg" alt="">
                 </div>
                <div class="body">
                  <p class="text-xl mb-0">Dr. Harini Payal</p>
                  <span class="text-sm text-grey">General Health</span>
                </div>
              </div>
            </div>
    
            <div class="col-md-6 col-lg-4 py-3 wow zoomIn">
              <div class="card-doctor">
                <div class="header">
                  <img src="../assets/img/doctors/indianDoc4.jpg" alt="">
                 </div>
                <div class="body">
                  <p class="text-xl mb-0">Dr. Veena</p>
                  <span class="text-sm text-grey">Cardiology</span>
                </div>
              </div>
            </div>
    
            <div class="col-md-6 col-lg-4 py-3 wow zoomIn">
              <div class="card-doctor">
                <div class="header">
                  <img src="../assets/img/doctors/indianDoc5.jpg" alt="">
                 </div>
                <div class="body">
                  <p class="text-xl mb-0">Dr. Priya</p>
                  <span class="text-sm text-grey">Dental</span>
                </div>
              </div>
            </div>
    
            <div class="col-md-6 col-lg-4 py-3 wow zoomIn">
              <div class="card-doctor">
                <div class="header">
                  <img src="../assets/img/doctors/indianDoc6.jpg" alt="">
                  </div>
                <div class="body">
                  <p class="text-xl mb-0">Dr.Venkat Prabhu</p>
                  <span class="text-sm text-grey">General Health</span>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div> <!-- .container -->
  </div> <!-- .page-section -->
 
{{>footer}}
</body>
</html>